<a href="https://colab.research.google.com/github/nairarafeek/ict_assignments/blob/main/assignment01_naira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
item1=int(input('price1    : '))
item2=int(input('quantity1 : '))
item3=int(input('price2    : '))
item4=int(input('quantity2 : '))
t=item1*item2+item3*item4
print(f"Total bill: {t} ")

price1    : 45
quantity1 : 3
price2    : 30
quantity2 : 2
Total bill: 195

2

In [ ]:
print('temperature conversion')
cel=float(input('Enter temperature in celsius : '))
f=(cel*9/5)+32
print(f)
print('Enter temperature in fahrenheit',f)

temperature conversion
Enter temperature in celsius : 30
86.0
Enter temperature in fahrenheit 86.0

3

In [ ]:
salary=int(input(" enter salary : "))
salary_hra=salary*20/100
salary_da=salary*10/100
net_salary=salary+salary_hra+salary_da
print(f"Net Salary: {net_salary}")

 enter salary : 20000
Net Salary: 26000.0

4

In [ ]:
P = float(input("Principal: "))
R = float(input("Rate of Interest: "))
T = float(input("Time (in years): "))
S = (P*R*T) / 100
print("Simple Interest =", S)

Principal: 10000
Rate of Interest: 5
Time (in years): 2
Simple Interest = 1000.0

5

In [ ]:
total_minutes = int(input("Enter total minutes: "))
hours = total_minutes // 60
minutes = total_minutes % 60
print(f"{hours} hours and {minutes} minutes")

Enter total minutes: 130
2 hours and 10 minutes

6

In [ ]:
weight = float(input("Weight (in kg): "))
height = float(input("Height (in meters): "))
bmi = weight/(height * height)
print(f"BMI = {bmi: .2f}")

Weight (in kg): 60
Height (in meters): 1.65
BMI =  22.04

7

In [ ]:
original_price = int(input("Original price: "))
discount = original_price*0.10
discounted_price = original_price-discount
print(f"Discounted Price: {discounted_price}")

Original price: 1200
Discounted Price: 1080.0

8

In [ ]:
a = float(input("Enter side a : "))
b = float(input("Enter side b : "))
c = float(input("Enter side c : "))
s = (a + b + c) / 2
area = (s*(s-a)*(s-b)*(s-c))**(0.5)
print(f"Area of the triangle: {area:.2f}")

Enter side a : 5
Enter side b : 6
Enter side c : 7
Area of the triangle: 14.70

9

In [ ]:
ost      : ₹{total_cost:.1f}")length = float(input("Enter wall length (in meters) : "))
height = float(input("Enter wall height (in meters) : "))
wall_area = length*height
window_area = 2*(1.5*1.2)
paintable_area = wall_area-window_area
cost_per_sq_m = 25
total_cost = paintable_area*cost_per_sq_m
print(f"Total area to be painted : {paintable_area:.1f} sq.m")
print(f"Total painting c

Enter wall length (in meters): 12
Enter wall height (in meters): 8
Total area to be painted: 92.4 sq.m
Total painting cost: ₹2310.0

10

In [ ]:
units = float(input("Enter number of units consumed: "))
rate_per_unit = 5.2
fixed_charge = 100
bill = (units*rate_per_unit)+fixed_charge
print(f"Electricity Bill: ₹{bill:.1f}")

Enter number of units consumed: 250
Electricity Bill: ₹1400.0