<a href="https://colab.research.google.com/github/nairarafeek/ict_assignments/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1

In [ ]:
max(55,66,77)

77

2

In [ ]:
def sum_list(numbers):
  total = 0
  for number in numbers:
    total += number
  return total
sample_list = [18, 12, 30, 10, 7]
result = sum_list(sample_list)
print("The sum of the list is:", result)

The sum of the list is: 77

3

In [1]:
mylist = [1, 2, 3, 4, 5]
number_to_insert = 6
index_to_insert = 2
mylist.insert(index_to_insert, number_to_insert)
print(mylist)

[1, 2, 6, 3, 4, 5]

4

In [ ]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**5**

In [ ]:
sample_dict = {'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

**6**

In [4]:
tuple1=(11,22,33,44,55,66)
tuple=tuple1[3:5]
print(tuple)

(44, 55)

**7**

In [7]:
tuple1=(50,10,60,70,50,83,567,50,81)
tuple=50
occurrences = tuple1.count(tuple)
print(occurrences)

3